body {
  background-color: eee;
}
main {
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 50px;
}

h1 {
  font-size: 2em;
}

#welcome,
#timer,
#start {
  width: 100%;
  text-align: center;
}

#count {
  background-color: red;
  padding: 5px;
  border-radius: 3px;
  color: white;
}

#btn-start {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

#container {
  display: flex;
  width: 60%;
  padding: 10px;
  box-shadow: 0 0 30px -5px hsla(0, 0%, 60.8%, 0.45);
  border-radius: 10px;
  background-color: white;
}

button {
  margin: 5px auto;
  cursor: pointer;
  padding: 10px;
  background-color: #fafafa;
  border: solid 1px #ddd;
  border-radius: 5px;
  width: 50%;
}

button:hover {
  background-color: azure;
  border: solid 1px rgb(0, 212, 212);
}

#submit,
#restart,
input {
  width: 100px;
  margin: 10px auto;
}

@media screen and (max-width: 768px) {
  #container {
    width: 95%;
  }
}
