main {
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 50px;
}

h1 {
  font-size: 2em;
}

#welcome,
#timer,
#start {
  width: 100%;
  text-align: center;
}

#count {
  background-color: red;
  padding: 5px;
  border-radius: 3px;
  color: white;
}

#btn-start {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

button {
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 10px;
}
